html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

button {
    position: fixed;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0);
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    top: 20px;
    right: 20px;
}

button:hover {
    box-shadow: 0 0 20px yellow;
    color: yellow;
    border: 1px solid yellow;
}